agate==1.7.0
asn1crypto==1.5.1
attrs==23.1.0
Babel==2.12.1
blessed==1.20.0
boto3==1.26.93
botocore==1.29.93
certifi==2023.5.7
cffi==1.15.1
chalice==1.28.0
charset-normalizer==3.2.0
click==8.1.3
colorama==0.4.6
cryptography==40.0.2
dbt-core==1.5.3
dbt-extractor==0.4.1
dbt-snowflake==1.5.2
filelock==3.12.2
future==0.18.3
hologram==0.0.16
idna==3.4
importlib-metadata==6.8.0
inquirer==2.10.1
isodate==0.6.1
jaraco.classes==3.3.0
Jinja2==3.1.2
jmespath==1.0.1
jsonschema==4.18.3
jsonschema-specifications==2023.6.1
keyring==23.13.1
leather==0.3.4
Logbook==1.5.3
MarkupSafe==2.1.3
mashumaro==3.6
minimal-snowplow-tracker==0.0.2
more-itertools==9.1.0
msgpack==1.0.5
networkx==2.8.8
numpy==1.24.2
oscrypto==1.3.0
packaging==23.1
pandas==1.5.3
parsedatetime==2.4
pathspec==0.11.1
protobuf==4.23.4
pycparser==2.21
pycryptodomex==3.18.0
PyJWT==2.7.0
pyOpenSSL==23.2.0
python-dateutil==2.8.2
python-editor==1.0.4
python-slugify==8.0.1
pytimeparse==1.1.8
pytz==2022.7.1
PyYAML==6.0
readchar==4.0.4
referencing==0.29.1
requests==2.31.0
rpds-py==0.8.11
s3transfer==0.6.0
six==1.16.0
snowflake-connector-python==3.0.4
sortedcontainers==2.4.0
sqlparse==0.4.4
text-unidecode==1.3
typing_extensions==4.5.0
urllib3==1.26.15
wcwidth==0.2.6
Werkzeug==2.3.6
zipp==3.16.2
